@mixin btn {
  font-family: "Public Sans", sans-serif;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #33323d;
  border: 1px solid #33323d;
  padding: 17px 32px;
  &:hover {
    background: #33323d;
    color: #fafafa;
  }
  &:active {
    border: 1px solid #d6d6d8;
    color: #33323d;
  }
}
